.message {
    width:200px;
    height:20px;
    height:auto;
    position:absolute;
    opacity: 70%;
    left:50%;
    margin-left:-100px;
    bottom:10px;
    background-color: #383838;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    overflow: hidden;
    position: fixed;
  }

